{% extends 'base.html.twig' %}

{% block title %}Page admin{% endblock %}

{% block body %}
        <h1>Ma page admin</h1>
        <h2>{{ app.user.username }} tu es un admin</h2>

        <h2>Bienvenue sur la page d'administration</h2>

        <a class="btn btn-info mt-3" href="{{ path('article_new') }}">Ecrire un article</a>
{% endblock %}